<footer class="footer">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag("logo-header-default.png", alt: "callidus-logo", class: "img-responsive") %>
    </div>
    <div class="col-sm-6">
      <h3>Contact us</h3>    
      <div class="row">
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-map-marker"></span>
        </div>
        <div class="col-sm-11">    
          <p>Callidus Health, LLC</p>
          <p>47 W Division St Suite 480</p>
          <p>Chicago, IL 60610</p>
        </div>
      </div>    
      <div class="row">
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-phone"></span>
        </div>
        <div class="col-sm-11">    
          <p>+1 (312) 763-5588</p>
        </div>
      </div>    
      <div class="row">
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="col-sm-11">    
          <p>info@callidushealth.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>